<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mobiledevices -->
      <package
            uri="http://www.example.org/mobiledevices"
            class="com.samsung.mobiledevices.MobiledevicesPackage"
            genModel="model/mobiledevices.genmodel"/>
   </extension>

</plugin>
